@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: "Avenir";
    src: url("../assets/avenir-roman.ttf");
}

body{
    background-color: #040714;
    color: #f9f9f9;

    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color:#f9f9f9;
    text-decoration: none;
}

.login-page{
    background-image:url(../assets/images/login-background.jpg);
    .CTA-logo-one{
        img{
            width: 100%;
        }
    }
    .CTA-logo-two{
        img{
            width: 56%;
        }
    }
    .signup-button{
        a{
    background: #0063e5;
    border: none;
    color: #f9f9f9;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    transition: all .2s ease 0s;
    vertical-align: middle;
        }
        a:hover{
            background-color: #0483ee;
        }
    }
}
.navbar-component{
    nav ul{
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        text-indent: 0;
        width: 100%;
    }
    .login-button {
        border: 1px solid #f9f9f9;
        border-radius: 4px;
        text-transform: uppercase;
    }
    .login-button:hover{
        background-color: #f9f9f9;
        border-color: transparent;
        color: #040714;
    }
}